.container{
  display: flex;
  flex-direction: column;
  align-items: center;

}
Section{
  display: flex;
  align-content: space-between;

  .left{
    width: 45%;
    padding: 1rem;
    margin-left: 2%;
  }
  .right{
    width: 45%;
    padding: 1rem;
    margin-left: 4%;
  }

}


hr {
  margin-bottom: 1rem;
  margin-top: 1rem;
}



header {
  margin-top: 0;
  h1{
    margin: 1rem 0;
  }
}

.missionSection {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buttonStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #3A405A;
  border: none;
  color: white;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 2 rem;
  display: flex;
  align-items: center;
  margin: 2%;
 
  a{
    color: white;
    text-decoration: none;
  }
  

}



.container .home{
    section{
      border: 5rem;
    }
}

.ourTeamSection {
  margin-top: 40px;
}

.theTeamList div {
  margin-bottom: 100px;
}
