@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.ourTeamSection {

    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    
    
    p{
      //  font-family: 'Merriweather', serif;
        font-weight: normal;
    }
    
}

.container.our-team .theTeamList{
    border-top: dashed gray 1px;
    border-bottom: dashed gray 1px;
    padding-top: 8%;
    div{
         padding-bottom: 8%;
         margin-top: 0;
         display: flex;
         flex-direction: column;
         align-content: space-between;
    }
    img{
        width: 35%;
    }
}
.container.our-team div{
    margin: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
    
    div{
        border-bottom: dashed gray 1px;  

    }
    div.BT{
        border-bottom: none;
    }
    p,h1,h2{
        font-family: 'Merriweather', serif;
        font-weight: normal;
        padding: 2rem 0rem;
    }
    h3{
        font-family: 'Oswald', sans-serif;
        padding-bottom: 2rem;
    }
    button{
        width: 100%;
        font-family: 'Merriweather', serif;
        font-weight: normal;
        padding: 1.0rem 2rem;
        border-radius: 4rem;
        text-decoration: none;
       
        a,i{
            text-decoration: none;
        }
        i{
            margin: 0 1rem 0 0;
            font-size: 2rem;
            text-decoration: none;
        }

        &:hover{
            color:#3A405A;
            background-color:white;
            border: 1px #3A405A solid;
            text-decoration: none!important;
             a,i{
                text-decoration: none!important;
            }

        }

    }
    h2{
        font-size: 2.0rem;
       
    }
    h3{
        font-size: 1.5rem;
    
    }
}

